{% extends "layout.html" %}

{% import "@smWiki/wiki_macros.html" as a %}
{% import "@smWiki/WikiMacros.html" as WikiMacros %}

{% set page_title = "wiki - " ~ lang('smwiki.namespace.'~wiki.namespace) ~ " - " ~ wiki.page.name  %}

{# Generic wiki context data #}
{#{% set wiki = {
	page_title: '',
	page_subname: '',
	crumbs: [],
	menu_data: [],
	page_menu: [],
}|merge(wiki) %}#}

{% block body %}
<div class="page-header">
	<h1>{{wiki.page.name}}
		{% if wiki.sub_name %}
		<small>{{wiki.sub_name}}</small>
		{% elseif wiki.namespace and not (wiki.namespace == 'View') %}
		<small>{{wiki.namespace}}</small>
		{% endif %}
</div>
<div class="row">
	<div class="span12 columns">
		{{ WikiMacros.breadcrumb(wiki.crumbs) }}
	</div>
	<div class="span3 columns">
		<div class="well">
			<ul class="nav nav-list">
			{% for item in wiki.menu_data %}
			<li><a href="{{item.link}}">{{item.title}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="span9 columns">
		{% block wiki_content_external_before %}{% endblock %}
		<div class="well">
			{% block wiki_content_internal_before %}{% endblock %}
			{{ a.wiki_page_menu(wiki.page_menu) }}
			{% block wiki_content %}{{wiki.page.parsed_content}}{% endblock %}
			{% block wiki_content_internal_after %}{% endblock %}
		</div>
		{% block wiki_content_external_after %}{% endblock %}
	</div>
</div>
{% endblock %}