{% macro wiki_page_menu(data) %}
<ul class="nav nav-pills pull-right">
	{% for item in data %}
	{% set dropdown = item[0] ? true : false %}
	<li{{item.active and not dropdown ? ' class="active"' : ''}}{{ dropdown and not item.active ? ' class="dropdown"' : '' }}{{dropdown and item.active ? ' class="dropdown active"' : ''}}>
		<a href="#"{{ dropdown ? ' data-toggle="dropdown" class="dropdown-toggle"' : '' }}>
			{{ item.icon ? ('<i class="icon-'~item.icon~'"></i>')|raw : '' }}
			{{item.name}}
			{{ dropdown ? '<b class="caret"></b>' : '' }}
		</a>
		{% for sub in item %}
			{% if loop.first %}
		<ul class="dropdown-menu">
			{% endif %}
			<li{{ sub.active ? ' class="active"' : '' }}>
				<a href="{{sub.href ? sub.href : '#'}}">
				{{ sub.icon ? ('<i class="icon-'~sub.icon~'"></i>')|raw : '' }}
				{{ sub.name }}
				</a>
			</li>
			{% if loop.last %}
		</ul>
			{% endif %}
		{% else %}
		{% endfor %}
	</li>
	{% endfor %}
</ul>
{% endmacro %}

{% macro breadcrumb(data) %}
<ul class="breadcrumb">
	{% for i in data %}
		<li{% if i.active %} class="active"{% endif %}>{% if not i.active %}<a href="{{i.href}}">{{i.name}}</a>{% else %}{{i.name}}{% endif %}
			{% if not loop.last %}<span class="divider">/</span>{% endif %}
		</li>
	{% endfor %}
</ul>
{% endmacro %}