{% extends "layout.html" %}
{% import "@smWiki/wiki_macros.html" as a %}

{% set page_title = "wiki - " ~ history.name %}

{% block body %}
<div class="page-header">
	<h1>{{history.name}} <small>history</small></h1>
</div>
<div class="row">
	<div class="span12 columns">
		<ul class="breadcrumb">
			<li>
				<a href="{{scripturl}}/wiki/Main_Page">Wiki</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="{{scripturl}}/wiki/{{history.urlname}}">{{history.name}}</a> <span class="divider">/</span>
			</li>
			<li class="active">History</li>
		</ul>
	</div>
	<div class="span3 columns">
		<div class="well">
			<ul class="nav nav-list">
			{% for item in wiki_menu_data %}
			<li><a href="{{item.link}}">{{item.title}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="span9 columns">
		
		<div class="well">
			{{ a.wiki_page_menu(page_menu_data) }}

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Revision ID</th>
						<th>When?</th>
						<th>Editor</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
{% for i in history %}
					<tr>
						<td>{{i.revision}}</td>
						<td>{{i.time|date}}</td>
						<td>{% if i.user.name is null %}{{i.ip}}{% else %}i.user.name{% endif %}</td>
						<td><a href="{{scripturl}}/wiki/revision/{{i.revision}}">view</a></td>
					</tr>
{% endfor %}
				</tbody>
			</table>
			{% import "macros.html" as m %}
			{{ m.pagination(scripturl~"/wiki/history/"~history.urlname~"?page=", history.total_revisions/10, 0) }}
		</div>
	</div>
</div>
{% endblock %}