{% extends "layout.html" %}

{% set page_title = "wiki - " ~ wiki_name_page %}

{% block body %}
<div class="page-header">
	<h1>{{wiki_name_page}}</h1>
</div>
<div class="row">
	<div class="span3 columns">
		<div class="well">
			<ul class="nav nav-list">
			{% for item in wiki_menu_data %}
			<li><a href="{{item.link}}">{{item.title}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="span9 columns">
		
		<div class="well">
			<ul class="nav nav-pills pull-right">
				<li class="active">
					<a href="{{scripturl}}/wiki/revision/{{page.revision}}">Permalink</a>
				</li>
				<li class="dropdown" id="wiki_page_tools">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#wiki_page_tools">
						Page Toolbox
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{scripturl}}/wiki/modify/{{page.urlname}}">Edit</a></li>
						<li><a href="{{scripturl}}/wiki/move/{{page.urlname}}">Move</a></li>
						<li><a href="{{scripturl}}/wiki/protect/{{page.urlname}}">Protect</a></li>
						<li class="divider"></li>
						<li><a href="{{scripturl}}/wiki/history/{{page.urlname}}">History</a></li>
					</ul>
				</li>
			</ul>
			{{page.parsed_content|raw}}
		</div>
	</div>
</div>
{% endblock %}